@use '../../../../styles/variables' as *;
.app-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: $color-background;
  .app-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    min-height: 100vh;
    margin-left: 14rem;
    box-sizing: border-box;
    transition: margin-left $transition-normal;
    .page-content {
      flex: 1;
      width: 100%;
      min-width: 0;
      margin: 0;
      padding: $spacing-4;
      box-sizing: border-box;
      overflow-y: auto;
    }
  }
  // COLLAPSED SIDEBAR
  &.sidebar-collapsed {
    .app-content {
      margin-left: 4.5rem;
    }
  }
}
// TABLET
@media (max-width: 64rem) {
  .app-layout {
    .app-content {
      margin-left: 10rem;
    }

    &.sidebar-collapsed {
      .app-content {
        margin-left: 4.5rem;
      }
    }
  }
}
// MOBILE
@media (max-width: 48rem) {
  .app-layout {
    .app-content {
      margin-left: 0;
      padding-bottom: 4.25rem;

      .page-content {
        padding: $spacing-3;
      }
    }
    &.sidebar-collapsed {
      .app-content {
        margin-left: 0;
      }
    }
  }
}