@use '@angular/material' as mat;
@use './styles/variables' as *;
@use './styles/typography';
@use './styles/buttons';
@use './styles/forms';
@use './styles/tables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  color: $color-text-primary;
  background: $color-background;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

::selection {
  color: $color-white;
  background: $color-secondary;
}
